.page-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 80%;
  overflow-x: hidden;
}
.content-main {
  padding: 80px 0;
}
.content-aside {
  padding-top: 90px;
  padding-bottom: 100px;
}
.content-heading {
  font-size: 2rem;
  white-space: pre-wrap;
  padding-bottom: 10px;
}

.content {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #333;
}
.quote {
  font-style: italic;
  font-weight: 400;
  color: #333;
}
.img-small {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.img-responsive {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .text-sm-center {
    text-align: center;
  }
  body {
    font-size: 12px;
  }
  .page-heading {
    font-size: 1.8rem;
  }
  .content-heading {
    font-size: 1.4rem;
  }
  .content {
    font-size: 1rem;
  }
}
