@import '~react-md/src/scss/react-md';

.content-main {
  padding: 80px 0;
}
.content-aside {
  padding-top: 90px;
  padding-bottom: 100px;
}

ul {
  list-style-type: none;

  padding: 0 5px;
  li {
    font-weight: 300;
  }
}

.subheading {
  font-size: 1.6rem;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.75);
}
#bg-audi-parallax {
  max-height: 260px;
  height: 260px;
  background: url('../../../public/assets/misc/Little_Extras.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-shadow: 1px 1px #000;
  }

  p {
    margin: 0;
    font-size: 16px;
    text-shadow: 1px 1px #000;
  }
}

.img-logo {
  margin: 0 auto;
  max-width: 50%;
  max-height: 50%;
}
#testimonials {
  p {
    font-weight: 300;
    color: #555;
    font-style: italic;
  }
  .md-card-title {
    min-height: 50px;
    max-height: 50px;
  }
  .md-card-title--title {
    font-weight: 300;
  }
  .md-card {
    min-height: 100%;
  }
  .img-logo {
    max-width: 150px;
    max-height: 59px;
  }
  .md-avatar {
    width: 80px;
    height: 80px;
  }
}

.md-caption {
  font-size: 1.1rem;
  color: #555;
}

@media #{$md-mobile-media} {
  #bg-audi-parallax {
    max-height: 500px;
    height: 500px;
  }
  #testimonial {
    width: 90%;
    p {
      font-size: 13px;
    }
  }
}
@media #{$md-desktop-media} {
  #bg-audi-parallax {
    max-height: 300px;
    height: 300px;
  }
  #testimonial {
    width: 70%;
    p {
      font-size: 15px;
    }
  }
}
