.content-main {
  padding: 80px 0;
}
.content-aside {
  padding-top: 90px;
  padding-bottom: 100px;
}

ul {
  list-style-type: none;

  padding: 0 5px;
  li {
    font-weight: 300;
  }
}

.subheading {
  font-size: 1.6rem;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#bg-audi-parallax {
  max-height: 100%;
  height: 100%;
  min-height: 360px;
  background: url('../../../public/assets/misc/Little_Extras.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#logo-slider {
  width: 100%;
  img {
    padding: auto;
  }
}

.img-logo {
  margin: 0 auto;
  max-width: 50%;
  max-height: 50%;
}
#testimonials {
  p {
    font-weight: 300;
    color: #555;
    font-style: italic;
  }
  .md-card-title {
    min-height: 50px;
    max-height: 50px;
  }
  .md-card-title--title {
    font-weight: 300;
  }
  .md-card {
    min-height: 100%;
  }
  .img-logo {
    max-width: 150px;
    max-height: 59px;
  }
  .md-avatar {
    width: 80px;
    height: 80px;
  }
}

.md-caption {
  font-size: 1.1rem;
  color: #555;
}
