#testimonial {
  position: relative;
  top: 70%;
  border-radius: 10px;
  width: 60%;
  transform: translateY(-50%);
  overflow: hidden;
  color: #fff;
  .testimonial-slider {
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 5px;
    color: inherit;
  }

  p,
  div {
    color: inherit;
  }
  p {
  }
  a {
    margin: 10px 0;
  }
}
