#testimonial {
  position: relative;
  height: 100%;
  margin: 0 auto;

  width: 90%;
  text-align: center;
  color: #fff;
  .slick-arrow:before,
  .slick-arrow:after {
    font-size: 25px;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 15px 0;
    color: inherit;
  }

  p,
  div {
    color: inherit;
  }
  p {
    font-style: italic;
    font-size: 14px;
  }
}
