#contact {
  form {
    transition: all 0.5s ease-in-out;
  }
  .fadeIn {
    opacity: 0;
  }
}
a {
  transition: all 0.2s ease-out;
  color: #fff;
  &:hover {
    color: #fff !important;
    transform: scale(1.05);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
