#contact {
  transition: all 0.5s ease-in;
  .border-primary {
    background: #1e1e1e;
    border: none !important;
  }
  .input-group {
    width: 90%;
    margin: 0 auto;
  }
  h3 {
    .fa-envelope {
      color: #fff !important;
    }
  }
  .fa,
  .far,
  .fas {
    color: #000 !important;
  }
  .bg-primary {
    background: #1e1e1e !important;
  }
  .btn {
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
  }
  .form-check {
    color: #fff;
  }
  .inline {
    max-width: 50%;
  }
}
