#contact {
  .border-primary {
    background: #1e1e1e;
    border: none !important;
  }
  h3 {
    .fa-envelope {
      color: #fff !important;
    }
  }
  .fa {
    color: #000 !important;
  }
  .bg-primary {
    background: #1e1e1e !important;
  }
  .btn {
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
  }
  .contact-form {
  }
}
