* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fefefe;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}
nav {
  width: 80% !important;
}
.md-list {
  .material-icons {
    color: #000;
  }
}
.text-center {
  text-align: center;
}

.md-text {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.fa-facebook {
  color: #3b5998 !important;
}
.fa-twitter {
  color: #1da1f2 !important;
}
.fa-linkedin-in {
  color: #007bb5 !important;
}
.fa-envelope {
  color: #2b6dad !important;
}

.fa-mobile-alt {
  color: #3498db !important;
}
.fa-phone {
  color: #2e86c1 !important;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,600|Roboto:300,400,500|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;
