* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.fa-facebook {
  color: #3b5998 !important;
}
.fa-twitter {
  color: #1da1f2 !important;
}
.fa-linkedin-in {
  color: #007bb5 !important;
}
.fa-envelope {
  color: #2b6dad !important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;
