@import '~react-md/src/scss/react-md';

$md-primary-color: $md-grey-900;
$md-secondary-color: $md-indigo-400;
$md-tertiary-color: $md-blue-a-300;
@include react-md-everything;
.container {
  width: 90%;
}

.md-background--secondary {
  color: #fff !important;
}

.page-heading {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 300;
  font-family: 'Merriweather', sans-serif;
  color: $md-secondary-color;
}
.page-subheading {
  font-size: 2.2rem;
  font-weight: 300;
  font-family: 'Merriweather', sans-serif;
  color: $md-secondary-color;
}

strong {
  color: $md-tertiary-color;
}

#testimonials {
  h2,
  h3,
  h4,
  h5,
  a {
    color: $md-tertiary-color;
  }
}
.md-tile-text--primary {
  color: #555;
  font-family: 'Meriweather', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
.md-list-item {
  i.md-icon.material-icons {
    color: #444;
  }
}
.md-media {
  overflow: hidden;

  img {
    transition: all 0.5s ease-out;
  }
}

.md-background--primary {
  color: #fff !important;
}
.md-background--flat {
  color: #fff !important;
}

label {
  font-size: 1.2rem !important;
  color: #222 !important;
}

#main-content {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  padding-top: 90vh;
  transition: all 0.8s ease-in-out;
}

a:link {
  color: $md-secondary-color;
  text-decoration: none;
}

@media (max-width: 700px) {
  .main-container {
    padding-top: 58vh;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
