@import '~react-md/src/scss/react-md';
$md-primary-color: #1b1b1b;
$md-secondary-color: #fefefe;
$md-tertiary-color: #fff;

#main-content {
  height: 100%;
  padding: 0;
  margin: 0;
}

.display-3 {
  font-size: 3rem;
}

.display-4 {
  font-size: 2.5rem;
  white-space: normal;
}

.main-container {
  padding-top: 95vh;
  transition: all 0.8s ease-in-out;

  .display-4 {
  }
}

.main-container,
.darker-background {
  background-color: $md-tertiary-color;
}

a:link {
  color: $md-secondary-color;
  text-decoration: none;
}

@media (max-width: 700px) {
  .main-container {
    padding-top: 65vh;
  }
}
