@import '~react-md/src/scss/react-md';

$md-primary-color: $md-grey-900;
$md-secondary-color: $md-light-blue-a-700;
$md-tertiary-color: $md-deep-orange-a-700;
@include react-md-everything;
.container {
  width: 90%;
}

.md-background--secondary {
  color: #fff !important;
}

.page-heading {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #333;
}
.page-subheading {
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: #444;
}

.md-tile-text--primary {
  color: #555;
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
.md-list-item {
  i.md-icon.material-icons {
    color: #444;
  }
}
.md-media {
  overflow: hidden;

  img {
    transition: all 0.5s ease-out;

    &:hover {
    }
  }
}

.md-background--primary {
  color: #fff !important;
}
.md-background--flat {
  color: #fff !important;
}

label {
  font-size: 1.2rem !important;
  color: #222 !important;
}

#main-content {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  padding-top: 92vh;
  transition: all 0.8s ease-in-out;
}

a:link {
  color: $md-secondary-color;
  text-decoration: none;
}

@media (max-width: 700px) {
  .main-container {
    padding-top: 58vh;
  }
}
